<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <% if @user.posts.any? %>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          <% else %>
            <%= "#{@user.name} has not submitted any posts yet." %>
          <% end %>
        </small>
        <% if @user.favorites.any? %>
          <ul> <% @user.favorites.each do |f| %>
              <li> <%= f.post.user %>
                   <%= image_tag f.post.user.avatar_url(128), class: 'media-object' %>
                   <%= f.post.points %>
                   <%= f.comments.post.user %> </li>
          </ul>
        <% else %>
          <%= "#{@user.name} has not favorited any posts yet." %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>
